@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=Karla:wght@500;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  background:#F5F7FB;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cercle{
  position:fixed;
  width: 250px;
  height:250px;
  border-radius: 100%;
}

.cercle-up{
  background: #FFFAD1;
  top:0;
  right:0;
  transform: translate(50%,-50%);
}

.cercle-down{
  background: #DEEBF8;
  bottom:0;
  left:0;
  transform: translate(-50%,50%);
}


.first-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 1000;
}

.first-page h3{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  color: #293264;
}

.first-page p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin-bottom: 20px;
}

button{
  background: #4D5B9E;
  border-radius: 15px; 
  border: none;
  padding:16px 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F5F7FB;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.2);
  user-select: none;
  cursor: pointer;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.second-page{
  display: flex;
  flex-direction: column;
  min-width: 550px;
  gap: 20px;
  z-index: 1000;
  padding: 40px;

}

.question-container{
  padding: 20px;
  border-bottom: 0.8px solid #DBDEF0;
}

.question{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  margin-bottom:20px;
}

.options{
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.option{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  border: 1px solid #4D5B9E;
  border-radius: 10px;
  color: #293264;
  padding: 5px 16px;
  cursor: pointer;
  user-select: none;
}

.option-clicked{
  background: #D6DBF5;
  border: 1px solid #D6DBF5;
}

.option-incorrect{
  background: #F8BCBC;
  border: 1px solid #F8BCBC;
  opacity: 0.5;
}

.option-correct{
  background: #94D7A2;
  border: 1px solid #94D7A2;
  opacity: 1;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.buttons >p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #293264;

}